
.vs/Dalamud.MbPlugin/DesignTimeBuild/.dtbcache
.vs/Dalamud.MbPlugin/v16/.suo
.vs/Dalamud.MbPlugin/v16/Server/sqlite3/db.lock
.vs/Dalamud.MbPlugin/v16/Server/sqlite3/storage.ide
.vs/Dalamud.TranslatorPlugin/DesignTimeBuild/.dtbcache
.vs/Dalamud.TranslatorPlugin/v16/.suo
.vs/Dalamud.TranslatorPlugin/v16/Server/sqlite3/db.lock
.vs/Dalamud.TranslatorPlugin/v16/Server/sqlite3/storage.ide
.vs/Dalamud.TranslatorPlugin/v16/TestStore/0/000-0000.testlog
.vs/Dalamud.TranslatorPlugin/v16/TestStore/0/testlog.manifest
bin/Dalamud.dll
bin/Dalamud.pdb
bin/Dalamud.TranslatorPlugin.dll
bin/Dalamud.TranslatorPlugin.pdb
bin/Discord.Net.Core.dll
bin/Discord.Net.Rest.dll
bin/Discord.Net.WebSocket.dll
bin/EasyHook.dll
bin/GoogleTranslateFreeApi.dll
bin/ImGui.NET.dll
bin/ImGui.NET.pdb
bin/ImGuiScene.dll
bin/ImGuiScene.pdb
bin/IvanAkcheurov.NTextCat.Lib.dll
bin/NCat/IvanAkcheurov.NTextCat.Lib.dll
bin/Newtonsoft.Json.dll
bin/OpenGL.Net.dll
bin/SDL2-CS.dll
bin/SDL2-CS.dll.config
bin/SDL2-CS.pdb
bin/Serilog.dll
bin/Serilog.Sinks.Async.dll
bin/Serilog.Sinks.File.dll
bin/SharpDX.Desktop.dll
bin/SharpDX.Direct3D11.dll
bin/SharpDX.dll
bin/SharpDX.DXGI.dll
bin/SharpDX.Mathematics.dll
bin/StbiSharp.dll
bin/System.Buffers.dll
bin/System.Collections.Immutable.dll
bin/System.Interactive.Async.dll
bin/System.Memory.dll
bin/System.Runtime.CompilerServices.Unsafe.dll
obj/Debug/Dalamud.MbPlugin.AssemblyInfo.cs
obj/Debug/Dalamud.MbPlugin.AssemblyInfoInputs.cache
obj/Debug/Dalamud.MbPlugin.assets.cache
obj/Debug/Dalamud.MbPlugin.csproj.CoreCompileInputs.cache
obj/Debug/Dalamud.MbPlugin.csproj.FileListAbsolute.txt
obj/Debug/Dalamud.MbPlugin.csprojAssemblyReference.cache
obj/Debug/Dalamud.TranslatorPlugin.AssemblyInfo.cs
obj/Debug/Dalamud.TranslatorPlugin.AssemblyInfoInputs.cache
obj/Debug/Dalamud.TranslatorPlugin.assets.cache
obj/Debug/Dalamud.TranslatorPlugin.csproj.CopyComplete
obj/Debug/Dalamud.TranslatorPlugin.csproj.FileListAbsolute.txt
obj/Debug/Dalamud.TranslatorPlugin.csprojAssemblyReference.cache
obj/Debug/Dalamud.TranslatorPlugin.dll
obj/Debug/Dalamud.TranslatorPlugin.pdb
